.app {
  background-color: rgb(240, 241, 246);
  height: 436px;
  padding: 56px 18px;

  border-top: 1px solid#eee;
  border-bottom: 1px solid#eee;
}
.app .layout {
  width: 1024px;
  margin: 0 auto;
}
.app_info_wrap {

  /* align-items: center; */
  /* justify-content: center; */
}
.app_info_box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  height: 320px;
  padding: 40px;
  /* width: 988px; */
}
.app_img {
  position: relative;
  width: 362px;
  height: 242px;
  /* margin-left: 40px; */
  border-radius: 10px;
}
.app_img img {
  width: 100%;
  overflow: hidden;
}
.app_text_wrap {
  /* position: relative; */
  margin-bottom: 70px;
  margin-left: 48px;
}
.app_title {
  margin-top: 45px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}
.app_sub_title {
  font-size: 16px;
  font-weight: 400;
  color: #77797b;
  margin-bottom: 40px;
}
.app_bt_wrap {

  display: flex;
  align-items: center;
  justify-content: center;
  top: 105px;
  gap: 8px;
}
.app_bt_wrap img {
  width: 24px;
}
.app_bt_a {
  height: 50px;
  width: 249px;

  font-size: 16px;
  font-weight: 500;
  color: #444;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.app_bt_a img {
  margin-right: 8px;
  vertical-align: middle;
}
.app_bt_g {
  height: 50px;
  width: 249px;
  color: #444;

  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.app_bt_g img {
  margin-right: 8px;
  vertical-align: middle;
}
