.banner {
  position: relative;
  height: 520px;
}
.layout {
  /* unicode-bidi: isolate; */
}

.banner_wrap {
  overflow: visible !important;
  position: relative;
  /* background-color: red; */
  padding-bottom: 20px;
  padding-top: 110px;
}

.layout .banner_wrap {
}

.banner_slide {
  /* background-color: red; */
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.sw_banner {
  /* display: contents; */
  /* justify-content: center; */
  width: 100vw;
  overflow: visible !important;
}
.swiper-slide {
  width: 640px;
  /* padding:0 213px; */
  padding: 0 40px;
}

.banner_slide_item {
  display: block;
  overflow: hidden;

  width: 640px;
  height: 320px;
  border-radius: 15px;
}
.banner_slide_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_slide_prev {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dddddd;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
  z-index: 999;
  transform: translateX(166px) translateY(240px);
}
.banner_slide_prev img {
  transform: rotate(180deg);
}
.banner_slide_next {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dddddd;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
  z-index: 999;
  transform: translateX(-166px) translateY(240px);
}
.banner_slide_pg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  scale: 85%;
}

.banner_slide_pg .swiper-pagination-bullet-active {
  background-color: #202020; /* 파란색 */
}
