.button {
  /* height: 237px; */
}
.button_wrap {
  margin-top: 15px;
  margin-bottom: 55px;
  /* background-color: red; */
  gap: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bt_activity {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border: none;
  background: none;
  cursor: pointer;
}
.bt_activity p {
  background-color: #ff5247;
  position: absolute;
  padding: 4px 5px;
  color: #fff;
  top: -10px;

  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
}

.bt_activity .img_box {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bt_activity img {
  width: 48px;
  height: 48px;
}
.bt_activity a {
  font-size: 17px;
  font-weight: 500;
  color: #565956;

  text-decoration: none;
}
.bt_contest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border: none;
  background: none;
  cursor: pointer;
}

.bt_contest .img_box {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.bt_contest img {
  width: 48px;
  height: 48px;
}
.bt_contest a {
  font-size: 17px;
  font-weight: 500;

  color: #565956;

  text-decoration: none;
}
.bt_intern {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border: none;
  background: none;
  cursor: pointer;
}
.bt_intern .img_box {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.bt_intern img {
  width: 48px;
  height: 48px;
}
.bt_intern a {
  font-size: 17px;
  font-weight: 500;

  color: #565956;

  text-decoration: none;
}
.bt_education {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  border: none;
  background: none;
  cursor: pointer;
}
.bt_education .img_box {
  width: 80px;
  height: 80px;
  background-color: #f7f7f7;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.bt_education img {
  width: 48px;
  height: 48px;
}
.bt_education a {
  font-size: 17px;
  font-weight: 500;

  color: #565956;
  text-decoration: none;
}
