.find_notice_section {
  height: 882px;
  padding-top: 56px;
  border-top: 1px solid #dadada;
  display: block;
}
.layout {
}
.find_notice_title {
  padding-left: 28px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.find_point {
  color: #5a64f9;
  font-size: 24px;
  font-weight: 700;
}

.find_notice_wrap {
  position: relative;
  width: 242px;
  height: 351px;
  margin-left: 28px;
}
.find_notice_box {
  background-color: red;

  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  justify-content: center; /* 수직 가운데 정렬 */
  text-align: center;
}
.find_item {
  position: relative;
}
.find_img {
  width: 224px;
  height: 224px;
  background-color: aqua;
  border-radius: 13px;
}
.find_text {
  text-align: left;
  padding-top: 8px;
  /* background-color: red; */
  width: 224px;
}
.find_category {
  padding: 5px 5px;
  border-radius: 3px;
  display: inline-block;
  background-color: rgba(255, 240, 232, 0.562);
  line-height: 11px;
  font-weight: 500;
  font-size: 11px;
  color: rgb(253, 143, 76);
}
.find_title {
  padding-top: 4px;
  color: #444;
  font-size: 15px;
  font-weight: 500;
}
.find_d_day {
  padding-top: 8px;
  font-size: 17px;
  font-weight: 600;
}
