.footer {
  /* background-color: red; */
  height: 248px;
  display: flex;
}
.footer .layout {
  width: 1024px;
  margin: 0 auto;
}

.footer_top_wrap {
  padding-top: 61px;
  display: flex;
  padding-bottom: 48px;
}
.footer_top_left {
  width: 494px;
}
.footer_top_left h4 {
  /* background-color: red; */
  display: block;
  padding-bottom: 33px;
  font-size: 17px;
}
.footer_top_left a {
  display: block;
  padding-bottom: 30px;

  color: #444;
  font-weight: 800;
  font-size: 24px;
}
.footer_top_left p {
  color: #aaa;
  font-size: 14px;
}
.footer_top_mid {
  text-align: left;

  width: 237px;
}
.footer_top_mid h4 {
  padding-bottom: 33px;
  font-size: 17px;
  font-size: 600;
}
.footer_top_mid a {
  line-height: 36px;

  font-size: 16px;
  font-weight: 400;
  color: #777;

  display: block;
  text-align: left;
}
.footer_top_right {
  /* font-size: 17px; */
}

.footer_top_right h4 {
  font-size: 17px;
  padding-bottom: 33px;
  font-size: 600;
}
.footer_top_right a {
  font-size: 16px;
  font-weight: 400;

  line-height: 36px;
  color: #777;
  display: block;
  text-align: left;
}
.footer_bottom_wrap {
  border-top: 1px solid#eeeeee;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  line-height: 28px;
}
.footer_bottom_left {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.footer_bottom_left a {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.footer_bottom_info {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_bottom_info .bold {
  font-weight: 800;
}
.footer_bottom_right {
  /* background-color: red; */
  display: flex;
  gap: 15px;
}
