.header {
  background-color: #fff;
  border-bottom: 1px solid#eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.layout {
  margin: 0 auto;
  height: 72px;
  width: 100%;
  max-width: 1024px;
  background-color: #fff;
  /* overflow: visible; */
  /* background-color: red; */
}

.header_top {
  padding-top: 16px;
  /* background-color: red; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  position: relative;
  gap: 34px;
}
/*  추천공고 점작업 span or after */
.header_left a {
  text-decoration: none;
  color: black;
}

.header_right {
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 34px;
}
.header_right img {
  transform: translateY(30%);
  padding-right: 5px;
}
.header_right a {
  text-decoration: none;

  color: rgb(97, 97, 97);
}

.header_right button {
  background-color: #837fff;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 9px 20px;
}
