.hot_notice_section {
  background-color: #fff;
  padding-top: 30px;
}

.hot_notice_title {
  padding-left: 18px;
  /* background-color: red; */
  padding-bottom: 20px;
  font-size: 22px;

  font-weight: 600;
}
.hot_notice_title .point {
  color: #4263ff;
}
.hot_notice_wrap {
  padding-left: 18px;

  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열 구성 */
  gap: 24px 40px; /* row-gap, column-gap */
}

.hot_notice_box {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;

  /* 기존 이미지 및 텍스트 스타일 유지 */
  background-color: transparent;
  transition: transform 0.3s ease;
}

.hot_notice_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 박스 반투명 */
  background-color: rgba(230, 230, 230, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 12px;
  z-index: 0;
  pointer-events: none;
}

.hot_notice_box:hover::before {
  opacity: 1;
}
.notice_item {
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.hot_notice_box .notice_img {
  width: 102px;
  height: 102px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.hot_notice_box .notice_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.hot_notice_box:hover .notice_img img {
  /* 살짝 확대 */
  transform: scale(1.05);
}
.notice_img {
  background-color: antiquewhite;
  width: 102px;
  height: 102px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
}

.notice_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  /* 부드럽게 확대되도록 설정 */
  transition: transform 0.4s ease;
  transform-origin: center center;
}
.notice_text {
  /* background-color: red; */
  /* display: flex; */
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 102px;
  gap: 2px;
  width: 322px;
}
.notice_category {
  display: inline-block; /*글자에 맞춘 박스 만들기 */
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 11px;
  color: #3366ff;
  font-weight: 400;
  background-color: #e1e7f8;
  margin-bottom: 2px;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
  /* -webkit-line-clamp: 2; */
}
.notice_title {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 4px;
  -webkit-line-clamp: 2;
  /* justify-content: space-between; */
  height: auto;
}

.notice_d_day {
  position: absolute;
  bottom: 0;
  color: #000;
  font-size: 17px;
  font-weight: 600;
}
