.hot {
  min-height: 677px;
  display: flow-root;
  padding-top: 65px;
}

.hot_notice_title {
  /* background-color: red ; */
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 31px;
  padding-left: 10px;
}
.hot_notice_title .point {
  color: #5a64f9;
}
.hot_notice_wrap {
  position: relative;

  overflow: visible;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열 구성 */
  /* row-gap, column-gap */
  gap: 14px 30px;
}
.hot_notice_wrap::after {
  content: "";
  display: block;
  clear: both;
}

.hot_notice_box {

  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 42px;
  border-radius: 12px;
  width: 488px;
  cursor: pointer;
  /* overflow: hidden; */

  /* 기존 이미지 및 텍스트 스타일 유지 */
  background-color: transparent;
  transition: transform 0.3s ease;
}

.hot_notice_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 박스 반투명 */
  background-color: rgba(230, 230, 230, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 12px;
  z-index: 0;
  pointer-events: none;
}

.hot_notice_box:hover::before {
  opacity: 1;
}
.notice_item {
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.hot_notice_box .notice_img {
  width: 102px;
  height: 102px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.hot_notice_box .notice_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.hot_notice_box:hover .notice_img img {
  /* 살짝 확대 */
  transform: scale(1.05);
}
.notice_img {
  background-color: antiquewhite;
  width: 102px;
  height: 102px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
}

.notice_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  /* 부드럽게 확대되도록 설정 */
  transition: transform 0.4s ease;
  transform-origin: center center;
}
.notice_text {
  /* display: flex; */
  /* padding-right: 42px; */
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 102px;
  width: 322px;
}
.notice_category {
  display: inline-block; /*글자에 맞춘 박스 만들기 */
  border-radius: 4px;
  padding: 5px;
  font-size: 11px;
  color: #406ff4;
  font-weight: 500;
  background-color: #eff3fe;
  margin-bottom: 2px;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
  /* -webkit-line-clamp: 2; */
}
.notice_title {
  padding-top: 7px;
  /* background-color: red; */
  font-size: 15px;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 4px;
  -webkit-line-clamp: 2;
  /* justify-content: space-between; */
  height: auto;
}

.notice_d_day {
  position: absolute;
  bottom: 0;
  color: #1c1c1c;
  font-size: 17px;
  font-weight: 600;
}
